<div class="row">
    <div class="col-md-8 col-md-offset-2">
    <%= bootstrap_flash %>
<h1>Posteingang von <%=$gUsername%></h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Von</th>
      <th>Inhalt</th>
    </tr>
  </thead>
  <tbody>
  <% @messages.each do |m| %>
  <tr>
    <td><%= m.username %></td>
    <td><%= m.message %></td>
   </tr>
   <% end %>
  </tbody>
</table>
</div>
</div>